main {
    text-align: center;
}

.item-portfolio {
    display: inline-block;
    margin: 50px;
    border: 1px solid #006778;
    cursor: pointer;
}

.item-portfolio a {
    text-decoration: none;
    font-weight: bold;
    color: #FFD124;
}
