body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFD124;
}


header {
    padding: 50px;
}

header img {
    height: 150px;
    border-radius: 50%;
}

header, footer {
    background-color: #006778;
    text-align: center;
    color: #FFD124;
}

nav {
    background-color: #0093AB;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 25px;
}

nav ul li {
    display: inline;
    margin: 50px;
}


nav ul li a {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFD124;
}

section {
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color: #0093AB;
}

footer {
    padding: 10px;
}

.button {
    border: 0;
    color: #0093AB;
    /* padding: 25px; */
}

.button:hover {
    cursor: pointer;
    color: #FFD124;
    background-color: #006778;
}

@media only screen and (max-width: 600px) {
    nav ul li { 
        margin: 15px;
    }
}

@media only screen and (max-width: 391px) {
    nav ul li { 
        margin: 3px;
    }
}

