body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFD124;
}


header {
    padding: 50px;
}

header img {
    height: 150px;
    border-radius: 50%;
}

header, footer {
    background-color: #006778;
    text-align: center;
    color: #FFD124;
}

nav {
    background-color: #0093AB;
    text-align: center;
}

nav > ul {
    margin: 0;
    padding: 15px;
}

nav > ul > li {
    display: inline;
    padding: 1.8%;
}

li > a {
    text-decoration: none;
    color: #FFD124;
    font-size: large;
    text-transform: uppercase;
    font-weight: bold;
}

section {
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    background-color: #0093AB;
}

footer {
    padding: 10px;
}